<h1 class="header">Consonants</h1>
<table>
  <thead>
    <tr>
      <th class="table-header"></th>
      <th class="table-header">Bilabial</th>
      <th class="table-header">Labiodental</th>
      <th class="table-header">Dental</th>
      <th class="table-header">Alveolar</th>
      <th class="table-header">Postalveolar</th>
      <th class="table-header">Retroflex</th>
      <th class="table-header">Labialized palatal</th>
      <th class="table-header">Postalveolar-velar</th>
      <th class="table-header">Alveolo-palatal</th>
      <th class="table-header">Palatal</th>
      <th class="table-header">Labial-velar</th>
      <th class="table-header">Velar</th>
      <th class="table-header">Uvular</th>
      <th class="table-header">Pharyngeal</th>
      <th class="table-header">Epiglottal</th>
      <th class="table-header">Glottal</th>
    </tr>
  </thead>
  <tr>
    <td class="table-header">Plosive</td>
    <td>
      <app-phoneme-button phoneme="p" />
      <app-phoneme-button phoneme="b" />
    </td>
    <td>
      <app-phoneme-button phoneme="p̪" />
      <app-phoneme-button phoneme="b̪" />
    </td>
    <td>
      <app-phoneme-button phoneme="t̪" />
      <app-phoneme-button phoneme="d̪" />
    </td>
    <td>
      <app-phoneme-button phoneme="t" />
      <app-phoneme-button phoneme="d" />
    </td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ʈ" />
      <app-phoneme-button phoneme="ɖ" />
    </td>
    <td></td>
    <td></td>

    <td>
      <app-phoneme-button phoneme="ȶ" />
      <app-phoneme-button phoneme="ȡ" />
    </td>
    <td>
      <app-phoneme-button phoneme="c" />
      <app-phoneme-button phoneme="ɟ" />
    </td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="k" />
      <app-phoneme-button phoneme="ɡ" />
    </td>
    <td>
      <app-phoneme-button phoneme="q" />
      <app-phoneme-button phoneme="ɢ" />
    </td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ʡ" />
    </td>
    <td>
      <app-phoneme-button phoneme="ʔ" />
    </td>
  </tr>
  <tr>
    <td class="table-header">Implosive</td>
    <td>
      <app-phoneme-button phoneme="ɓ̥" />
      <app-phoneme-button phoneme="ɓ" />
    </td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ɗ̪" />
    </td>
    <td>
      <app-phoneme-button phoneme="ɗ" />
    </td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ᶑ" />
    </td>
    <td></td>
    <td></td>

    <td></td>
    <td>
      <app-phoneme-button phoneme="ʄ" />
    </td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ɠ" />
    </td>
    <td>
      <app-phoneme-button phoneme="ʛ" />
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="table-header">Nasal</td>
    <td>
      <app-phoneme-button phoneme="m̥" />
      <app-phoneme-button phoneme="m" />
    </td>
    <td>
      <app-phoneme-button phoneme="ɱ̊" />
      <app-phoneme-button phoneme="ɱ" />
    </td>
    <td>
      <app-phoneme-button phoneme="n̪̊" />
      <app-phoneme-button phoneme="n̪" />
    </td>
    <td>
      <app-phoneme-button phoneme="n̥" />
      <app-phoneme-button phoneme="n" />
    </td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ɳ̊" />
      <app-phoneme-button phoneme="ɳ" />
    </td>
    <td></td>
    <td></td>

    <td>
      <app-phoneme-button phoneme="ȵ" />
    </td>
    <td>
      <app-phoneme-button phoneme="ɲ" />
    </td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ŋ" />
    </td>
    <td>
      <app-phoneme-button phoneme="ɴ" />
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="table-header">Trill</td>
    <td>
      <app-phoneme-button phoneme="ʙ" />
    </td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="r̥" />
      <app-phoneme-button phoneme="r" />
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>

    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ʀ" />
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="table-header">Tap or Flap</td>
    <td>
      <app-phoneme-button phoneme="ⱱ̟" />
    </td>
    <td>
      <app-phoneme-button phoneme="ⱱ" />
    </td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ɾ" />
    </td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ɽ" />
    </td>
    <td></td>
    <td></td>

    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="table-header">Lateral flap</td>
    <td></td>
    <td></td>
    <td></td>
    <td><app-phoneme-button phoneme="ɺ" /></td>
    <td></td>
    <td><app-phoneme-button phoneme="ɺ̣" /></td>
    <td></td>
    <td></td>

    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="table-header">Fricative</td>
    <td>
      <app-phoneme-button phoneme="ɸ" />
      <app-phoneme-button phoneme="β" />
    </td>
    <td>
      <app-phoneme-button phoneme="f" />
      <app-phoneme-button phoneme="v" />
    </td>
    <td>
      <app-phoneme-button phoneme="θ" />
      <app-phoneme-button phoneme="ð" />
    </td>
    <td>
      <app-phoneme-button phoneme="s" />
      <app-phoneme-button phoneme="z" />
    </td>
    <td>
      <app-phoneme-button phoneme="ʃ" />
      <app-phoneme-button phoneme="ʒ" />
    </td>
    <td>
      <app-phoneme-button phoneme="ʂ" />
      <app-phoneme-button phoneme="ʐ" />
    </td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ɧ" />
    </td>

    <td>
      <app-phoneme-button phoneme="ɕ" />
      <app-phoneme-button phoneme="ʑ" />
    </td>
    <td>
      <app-phoneme-button phoneme="ç" />
      <app-phoneme-button phoneme="ʝ" />
    </td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="x" />
      <app-phoneme-button phoneme="ɣ" />
    </td>
    <td>
      <app-phoneme-button phoneme="χ" />
      <app-phoneme-button phoneme="ʁ" />
    </td>
    <td>
      <app-phoneme-button phoneme="ħ" />
      <app-phoneme-button phoneme="ʕ" />
    </td>
    <td>
      <app-phoneme-button phoneme="ʜ" />
      <app-phoneme-button phoneme="ʢ" />
    </td>
    <td>
      <app-phoneme-button phoneme="h" />
      <app-phoneme-button phoneme="ɦ" />
    </td>
  </tr>
  <tr>
    <td class="table-header">Lateral fricative</td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ɬ" />
      <app-phoneme-button phoneme="ɮ" />
    </td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ꞎ" />
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="table-header">Percussive</td>
    <td>
      <app-phoneme-button phoneme="ʬ" />
    </td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ʭ" />
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="table-header">Approximant</td>
    <td>
      <app-phoneme-button phoneme="β̞̊" />
      <app-phoneme-button phoneme="β̞" />
    </td>
    <td>
      <app-phoneme-button phoneme="ʋ̥" />
      <app-phoneme-button phoneme="ʋ" />
    </td>
    <td>
      <app-phoneme-button phoneme="ð̞" />
    </td>
    <td>
      <app-phoneme-button phoneme="ɹ̥" />
      <app-phoneme-button phoneme="ɹ" />
    </td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ɻ̊" />
      <app-phoneme-button phoneme="ɻ" />
    </td>
    <td>
      <app-phoneme-button phoneme="ɥ̊" />
      <app-phoneme-button phoneme="ɥ" />
    </td>
    <td></td>

    <td></td>
    <td>
      <app-phoneme-button phoneme="j" />
    </td>
    <td>
      <app-phoneme-button phoneme="ʍ" />
      <app-phoneme-button phoneme="w" />
    </td>
    <td>
      <app-phoneme-button phoneme="ɰ" />
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="table-header">Lateral approximant</td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="l̥" />
      <app-phoneme-button phoneme="l" />
    </td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ɭ" />
    </td>
    <td></td>
    <td></td>

    <td>
      <app-phoneme-button phoneme="ȴ" />
    </td>
    <td>
      <app-phoneme-button phoneme="ʎ" />
    </td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ʟ" />
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="table-header">Click consonant</td>
    <td>
      <app-phoneme-button phoneme="ʘ" />
    </td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ǀ" />
    </td>
    <td>
      <app-phoneme-button phoneme="ǃ" />
      <app-phoneme-button phoneme="ǁ" />
    </td>
    <td>
      <app-phoneme-button phoneme="ǂ" />
    </td>
    <td>
      <app-phoneme-button phoneme="‼" />
    </td>
    <td></td>
    <td></td>

    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<h1 class="header">Vowels</h1>
<table>
  <thead>
    <tr>
      <th class="table-header"></th>
      <th class="table-header">Front</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <th class="table-header">Central</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <th class="table-header">Back</th>
    </tr>
  </thead>
  <tr>
    <td class="table-header">Close</td>
    <td>
      <app-phoneme-button phoneme="i" />
      •
      <app-phoneme-button phoneme="y" />
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ɨ" />
      •
      <app-phoneme-button phoneme="ʉ" />
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ɯ" />
      •
      <app-phoneme-button phoneme="u" />
    </td>
  </tr>
  <tr>
    <td class="table-header">Near-close</td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ɪ" />
      •
      <app-phoneme-button phoneme="ʏ" />
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ɪ̈" />
      •
      <app-phoneme-button phoneme="ʊ̈" />
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      •
      <app-phoneme-button phoneme="ʊ" />
    </td>
    <td></td>
  </tr>
  <tr>
    <td class="table-header">Close-mid</td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="e" />
      •
      <app-phoneme-button phoneme="ø" />
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ɘ" />
      •
      <app-phoneme-button phoneme="ɵ" />
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ɤ" />
      •
      <app-phoneme-button phoneme="o" />
    </td>
  </tr>
  <tr>
    <td class="table-header">Mid</td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="e̞" />
      •
      <app-phoneme-button phoneme="ø̞" />
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ə" />
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ɤ̞" />
      •
      <app-phoneme-button phoneme="o̞" />
    </td>
  </tr>
  <tr>
    <td class="table-header">Open-mid</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ɛ" />
      •
      <app-phoneme-button phoneme="œ" />
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ɜ" />
      •
      <app-phoneme-button phoneme="ɞ" />
    </td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ʌ" />
      •
      <app-phoneme-button phoneme="ɔ" />
    </td>
  </tr>
  <tr>
    <td class="table-header">Near-open</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="æ" />
      •
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ɐ" />
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="table-header">Open</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="a" />
      •
      <app-phoneme-button phoneme="ɶ" />
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ä" />
      •
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <app-phoneme-button phoneme="ɑ" />
      •
      <app-phoneme-button phoneme="ɒ" />
    </td>
  </tr>
</table>
