<div>
  <p>F = a*L + b*D + c*CN + d*CL</p>
  <h4>Parameter Weights</h4>
  <div class="input-wrapper">
    <span class="parameter-label">a:</span>
    <span class="p-float-label --inline-block">
      <p-inputNumber
        pInputText
        id="initialPhoneme"
        formControlName="initialPhoneme"
      />
      <label for="initialPhoneme">Word Length</label>
    </span>
  </div>
  <div class="input-wrapper">
    <span class="parameter-label">b:</span>
    <span class="p-float-label --inline-block">
      <p-inputNumber
        pInputText
        id="initialPhoneme"
        formControlName="initialPhoneme"
      />
      <label for="initialPhoneme">Number of Diphthongs</label>
    </span>
  </div>
  <div class="input-wrapper">
    <span class="parameter-label">c:</span>
    <span class="p-float-label --inline-block">
      <p-inputNumber
        pInputText
        id="initialPhoneme"
        formControlName="initialPhoneme"
      />
      <label for="initialPhoneme">Consonant Cluster Number</label>
    </span>
  </div>
  <div class="input-wrapper">
    <span class="parameter-label">d:</span>
    <span class="p-float-label --inline-block">
      <p-inputNumber
        pInputText
        id="initialPhoneme"
        formControlName="initialPhoneme"
      />
      <label for="initialPhoneme">Consonant Cluster Avg. Length</label>
    </span>
  </div>
</div>
