<main class="dashboard-container">
  <section class="input-container">
    <p-card header="Input Parameters">
      <app-phoneme-table />
      <app-algorithm-params />
      <p-button
        label="Start"
        size="small"
        (onClick)="onGenerationStart()"
      ></p-button>
    </p-card>

    <p-card header="Phoneme Transformations">
      <app-transformation-group-manager />
      <app-transformation-pipeline />
    </p-card>
    <p-card header="Fitness Function Parameters">
      <app-fitness-function-manager />
    </p-card>
  </section>

  <section class="output-container">
    <p>Output:</p>
    <div *ngFor="let epoch of generationResult">
      <h4>Epoch {{ epoch.index }}</h4>
      <p-chip
        *ngFor="let word of epoch.words"
        [label]="word"
        class="result-chip"
      ></p-chip>
    </div>
  </section>
</main>
