<main class="container">
  <section>
    <app-phoneme-table />
    <app-phoneme-free-input />
    <p-button
      icon="pi pi-language"
      [outlined]="true"
      size="small"
      severity="secondary"
      aria-label="openPhonemeTable"
      (onClick)="openPhonemeTable()"
    ></p-button>
    <p-button
      label="Start"
      size="small"
      (onClick)="onGenerationStart()"
    ></p-button>
  </section>
  <section>
    <p>Output:</p>
    <p-chip
      *ngFor="let specimen of generationResult"
      [label]="specimen"
      class="result-chip"
    ></p-chip>
  </section>
</main>
