.dashboard-container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
}

.result-chip {
  margin-left: 0.5rem;
}
