<span class="p-float-label input-wrapper">
  <p-inputNumber pInputText id="populationSize" [(ngModel)]="populationSize" />
  <label for="populationSize">Size of Population</label>
</span>
<span class="p-float-label input-wrapper">
  <p-inputNumber pInputText id="epochNumber" [(ngModel)]="epochNumber" />
  <label for="epochNumber">Number of Epochs</label>
</span>
<span class="p-float-label input-wrapper">
  <p-inputNumber
    pInputText
    id="initialPhoneme"
  />
  <label for="initialPhoneme">Override Transformation Chance</label>
</span>
